<section class="biography">
  <div class="biography-image">
    <img src="assets/images/marvin.jpg" loading="lazy" alt="photo of Marvin" title="photo of Marvin" />
  </div>
  <h2 class="name">Marvin Rusinek</h2>
  <h4 class="title">Angular Developer</h4>

  <div class="contact-info">
    <div class="resume">
      <img src="assets/images/download.png" height="24" width="24" loading="lazy" alt="resume" />&nbsp;&nbsp;
      <a target="_blank" href="http://www.marvinrusinek.com/assets/resume/Marvin__Rusinek__Resume__04-22-21_(1_Page).pdf">
        R&eacute;sum&eacute;</a>
    </div>
    <div class="email">
      <span class="material-icons">mail</span>&nbsp;&nbsp;<a href="#" id="email">emailName | at | domain</a>
    </div>
    <div class="location">
      <span class="material-icons">public</span>&nbsp;&nbsp;Brooklyn, NY
    </div>
  </div>

  <section class="about"><p>I&apos;m an Angular Developer with 5 years experience building single page applications utilizing the
    core front-end technologies (HTML5, CSS3 and JavaScript).</p></section>

  <section class="social-media">
    <ul>
      <li>
        <a target="_blank" href="https://www.github.com/marvinrusinek">
          <img src="assets/images/social-media/github.png" height="24" width="24" loading="lazy" alt="GitHub">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/marvin-rusinek">
          <img src="assets/images/social-media/linkedin.gif" height="24" width="24" loading="lazy" alt="LinkedIn">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.twitter.com/marvinrusinek">
          <img src="assets/images/social-media/twitter.svg" height="24" width="24" loading="lazy" alt="Twitter">
        </a>
      </li>
    </ul>
  </section>
</section>
