<main class="grid">
  <app-biography class="biography-area component-default-styling"></app-biography>
  <app-frontend-skills class="frontend-area component-default-styling"></app-frontend-skills>
  <app-backend-skills class="backend-area component-default-styling"></app-backend-skills>
  <app-experiences class="experiences-area component-default-styling"></app-experiences>
  <app-education class="education-area component-default-styling"></app-education>
  <app-testimonials class="testimonials-area component-default-styling"></app-testimonials>
  <app-services class="services-area component-default-styling"></app-services>
  <app-projects class="projects-area"></app-projects>
  <app-certificates class="certificates-area"></app-certificates>
  <app-blogs class="blogs-area"></app-blogs>
  <!--<app-hobbies class="hobbies-area"></app-hobbies>-->
  <app-footer class="footer-area"></app-footer>

  <ng-back-to-top bgColor="#43e756" color="#006400"></ng-back-to-top>
</main>
