$white: #ffffff;
$black: #000000;
$gray-black: #333333;
$light-black: #4f4f4f;
$light-gray: #a9a9a9;
$battleship-gray: #828282;
$orange: #f2994a;
$turquoise: #40e0d0;
$cape-cod: #4e5150;
$off-white: #f2f2f2;
$very-light-gray: #e0e0e0;
$bright-orange: #ffa500;
$medium-gray: #a5a4a4;
$dark-gray: #6e6e6e;
$dark-charcoal: #333;
$red: #ef0606;
$dark-blue: #2f80ed;
$silver-sand: #c4c4c4;

$component-border-radius: 16px;
$component-padding: 16px;

$small: 600px;
$medium: 960px;
$large: 1200px;
