<section class="testimonials">
  <h2 class="heading">Testimonials</h2>

  <div class="slick-carousel my-testimonials col-12 animated fadeInLeft">
    <div>
      <div class="testimonial">
        <div class="testimonial-blockquote">
          <blockquote>
            <p class="quote col-12">Holy Cow Marvin! The site looks awesome. Did you design it yourself? It&apos;s very clean... Great job!</p>
          </blockquote>
          <cite class="author">George Pefanis, NYU SPS Professor and Technical Program Manager at SiriusXM, December 2010</cite>
        </div>
      </div>
    </div>
    <div>
      <div class="testimonial">
        <div class="testimonial-blockquote">
          <blockquote>
            <p class="quote col-12">Marvin, Great job. It looks great. You are the only one who truly took everything in this semester... It was a pleasure working with you. Thanks for being an asset in class.</p>
          </blockquote>
          <cite class="author">George Pefanis, NYU SPS Professor and Technical Program Manager at SiriusXM, May 2011</cite>
        </div>
      </div>
    </div>
    <div>
      <div class="testimonial">
        <div class="testimonial-blockquote">
          <blockquote>
            <p class="quote col-12">Marvin, we wouldn&apos;t have had such impressive <a href='http://digital.cjh.org/2168528' target='_blank' class="external">spreadsheets</a> without you on the project.</p>
          </blockquote>
          <cite class="author">Susan Woodland, Senior Archivist at the American Jewish Historical Society, October 2015</cite>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="testimonials">
  <h2 class="servicesHeader heading">Testimonials</h2>

  <div class="slick-carousel my-testimonials col-12 animated fadeInLeft">
    <div *ngFor="let testimonial of testimonials">
      <div class="testimonial">
        <div class="testimonial-blockquote">
          <blockquote>
            <p class="quote col-12">{{testimonial.quote}}</p>
          </blockquote>
          <cite class="author">{{testimonial.author}}, {{testimonial.authorRole}}, {{testimonial.time}}</cite>
        </div>
      </div>
    </div>
  </div>
</section>-->
