@import "../../styles/_variables";

.backend-skills {
  background-color: $white;
  width: 415px;
  height: fit-content;
  border-radius: 12px;

  .skills-category {
    font: 700 18px "Montserrat", sans-serif;
    color: $light-black;
    text-transform: uppercase;
  }

  .backend-list {
    list-style-type: none;
    margin-top: 10px;
    margin-left: -5px;

    .backend-skill {
      margin-left: -35px;

      .skill-name {
        font: 500 16px "Montserrat", sans-serif;
        color: $light-black;
      }

      .progress-bar {
        float: right;
        margin-top: 7.5px;
        margin-right: 20px;
        position: relative;
        width: 237px;
        height: 10px;
        background-color: $light-gray;
        border-radius: 16px;

        .progress-bar--fill {
          background-color: $dark-blue;
          border-radius: 16px;
          height: inherit;
        }
      }
    }
  }
}
